@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Proza+Libre&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');

@layer base {
    html {
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        font-family: 'Ubuntu', sans-serif;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        
    }
    body {
        background-color: black;
        /* background-image: url('../images/anime_scene_nobg.png');
        background-repeat: no-repeat;
        background-size: calc(40% + 100px); 
        background-position-x: center;
        background-position-y: bottom; 
        background-color: black; */
    }
}

@media (max-width: 400px) {
    body {
        background-image: url('../images/anime_scene_nobg.png');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position-x: center;
        /* background-color: black; */
        background-position-y: bottom;
    }
}
